<span id="pizyds_rain_button_field" class="<%= FIELD_CLASS %> <%= CLASS %> noselect">
    <span id="pizyds_rain_waiting">
        <span id="pizyds_rain_download_button" title="点击下载PPT">
            <%- DOWNLOAD_BUTTON_ICON %> 下载课件
        </span>
        <span id="pizyds_rain_config_button">
            [ <%- CONFIG_BUTTON_ICON %> ]
        </span>
    </span>
    <span id="pizyds_rain_running" hidden>
        <span title="运行中">
            <%- DOWNLOAD_BUTTON_ICON %> <span id="pizyds_rain_running_text">运行中</span>
        </span>
        <span>
            [ <%- RUNNING_BUTTON_ICON %> ]
        </span>
    </span>
</span>